* {
    margin: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vw;
    min-height: 100vh;

}
.mainsection {
    padding: 50px;
    background-image: url(/assests/images/download.jpg);
    background-position: center center;
    background-size:cover;
    height: 100vh;
}
.create {
    background-color: transparent;
    color: purple;
    text-align: center;
    min-width: 100%;
    min-height: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 15px rgb(145, 129, 145);
    padding: 20px;
    border-radius: 10px;
}
.create h2 {
    padding-bottom: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    overflow: inherit;
    height: 100%;
    /* padding: 30px; */
  
}
input{
    margin-bottom: 20px;
    border-radius: 2rem;
    border-color:transparent;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(139, 132, 132);
    
}
textarea {
    border-color:transparent;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(139, 132, 132);
    border-radius: 10px;
}
textarea:focus {
    outline:none;
}
input:focus {
    outline:none;
}
#buttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
#submit {
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(159, 111, 204);
    color: rgb(238, 243, 241);
    border: none;
    box-shadow: 2px 2px 5px rgb(139, 132, 132);
}
.bottomsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.displaytodos {
    width: 100vw;
    padding: 30px;
    background-image: url(/assests/images/download.jpg);
    background-position: center center;
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    /* position: absolute;
    top: 0px;
    left: 0px;
    display: none; */
}